:host {
  display: block;
  height: 48px;
  padding: 0 16px;
  text-align: right;
  line-height: 49px;
}

nav a {
  color: #8f8f8f;
  font-size: 16;
  font-weight: 500;
  line-height: 48px;
  margin-right: 38px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  &:hover, &:active {
    color:#00caab;
  }

  &:last-child {
    margin-right:0;
  }
}

nav a.router-link-active {
  color: #00caab;
}
a {
	font-family: Consolas,monaco,monospace;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

@media (max-width: 500px) {
  :host {
    display:none;
  }
}
