<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="showViewAll">{{'VIEW_ALL' | translate}}</a>
  <a href="https://docs.nativescript.org/plugins/plugins" target="_blank">{{'CREATE_PLUGIN' | translate}}</a>
  <a href="https://www.nativescript.org/" target="_blank">{{'N_HOME' | translate}}</a>
  <!--<a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'ABOUT' | translate}}</a>-->
</nav>

