:host {
  display: block;
  height: 48px;
  padding: 0 16px;
}

nav a {
  color: #8f8f8f;
  font-size: 16;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

nav a.router-link-active {
  color: #00caab;
}
a {
	font-family: Consolas,monaco,monospace;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}