<p>
  {{'HEADING' | translate}}
</p>
<sd-search></sd-search>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <i class="fa fa-th-large bg" *ngIf="cardView == false" (click)="toggle()"></i>
      <i class="fa fa-list bg" *ngIf="cardView == true" (click)="toggle()"></i>
    </div>
  </div>
  <div class="row is-flex">
    <div [ngClass]="{'col-sm-3': cardView, 'col-xs-12': !cardView }" *ngFor="let plugin of plugins">
      <div class="plugin-box" (click)="onSelect(plugin)">
        <div style="float: right"><i class="fa fa-star fa-lg"></i>{{plugin.stars}}</div>
        <h1>{{plugin.title}}</h1>
        <h3>{{plugin.author}}</h3>
        <div class="fixed-height" *ngIf="cardView == true">
          <p>{{plugin.description}}</p>
        </div>
        <p *ngIf="cardView == false">{{plugin.description}}</p>
        <div *ngIf="plugin.ios && cardView == true" class="platform-icon"><i class="fa fa-apple fa-lg"></i></div>
        <div *ngIf="plugin.android && cardView == true" class="platform-icon icon-space"><i class="fa fa-android fa-lg"></i></div>
      </div>
      <div class="repo-box">
        <a href="{{plugin.repo}}" target="_blank">{{plugin.repo}}</a>
        <div *ngIf="plugin.ios && cardView == false" class="platform-icon-line icon-space"><i class="fa fa-apple fa-lg"></i></div>
        <div *ngIf="plugin.android && cardView == false" class="platform-icon-line"><i class="fa fa-android fa-lg"></i></div>
      </div>
    </div>
  </div>
</div>
