<div #sidebar class="sidebar hide">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>FILTERS</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="highlight">SORT BY</h2>
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="highlight">CATEGORIES</h2>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Filter 1
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Filter 2
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Filter 3
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-default" type="submit">Clear Filters</button>
      </div>
    </div>
  </div>
</div>
<div class="contain" #mainBody infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="onScroll()">
  <div class="row pre-card" #preBar>
    <div class="col-sm-12">
      <i class="fa fa-th-large bg icon hidden-sm-down" [hidden]="cardView != false" (click)="toggleCard()"></i>
      <i class="fa fa-list bg icon" [hidden]="cardView == false" (click)="toggleCard()"></i>
      <h4 class="viewing">Viewing {{plugins.length}} of {{total}} Plugins</h4>
      <i class="fa fa-sliders bg icon" (click)="toggleSideBar()"></i>
    </div>
  </div>
  <div *ngIf="cardView" class="row is-flex plugin-disp">
    <div class="col-sm-3 col-xs-12" *ngFor="let plugin of plugins">
      <plugin-box [plugin]="plugin"></plugin-box>
    </div>
  </div>
  <div *ngIf="!cardView" class="listView">
    <plugin-row [plugin]="plugin" class="row" *ngFor="let plugin of plugins"></plugin-row>
  </div>
</div>