<p>
  {{'HEADING' | translate}}
</p>
<div class="smile"></div>
<div class="auth">
  <div *ngIf="!current">
    <button class="btn btn-primary btn-margin" (click)="login()">Auth0 Login</button>
    <p>
      Users can now login via Auth0.
    </p>
  </div>
  <div *ngIf="current">
    <button class="btn btn-primary btn-margin" (click)="logout()">LOGOUT</button>
    <div class="profile">
      <div style="text-decoration:underline;">Current User</div>
      <div>Name: {{current?.name}}</div>
      <div>Email: {{current?.email}}</div>
      <div><img [src]="current?.picture" /></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row is-flex">
    <div class="col-sm-3" *ngFor="let plugin of plugins">
      <div class="plugin-box">
        <div style="float: right"><i class="fa fa-star fa-lg"></i>{{plugin.stars}}</div>
        <h1>{{plugin.title}}</h1>
        <h2>{{plugin.author}}</h2>
        <div class="fixed-height">
          <p>{{plugin.description}}</p>
        </div>
        <div *ngIf="plugin.ios" class="platform-icon"><i class="fa fa-apple fa-lg"></i></div>
        <div *ngIf="plugin.android" class="platform-icon android"><i class="fa fa-android fa-lg"></i></div>
      </div>
      <div class="repo-box">
        <a href="{{plugin.repo}}" target="_blank">{{plugin.repo}}</a>
      </div>
    </div>
  </div>
</div>