/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

[hidden] { display: none !important;}

.right { float: right; }


.isHovered::after {
        background-color: #e8e8e8 !important;
}
/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1em, $lineCount: 3, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  //margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

h1 {
  font-size: 24px;
  margin-top: 0px;
  font-family: geomanistregular;
  font-weight: bold;
}
h2 {
  font-size: 20px;
  margin-top: 0px;
  font-family: geomanistregular;
  color: #000;
}
h3 {
  font-weight: lighter;
  font-family: geomanistregular;
  font-size: 15px;
  color: #b1b8bc;
}

p {
    font-family: geomanistregular;
    font-size: 18px;
}

.auth {
  margin: 20px auto;
  width:500px;
  text-align: center;

  .profile {
    text-align: left;
    color: lighten(#00e, 20%);
  }
}
.plugin-box {
  cursor: pointer;

  a {
    color: #006968;
    font-family: geomanistregular;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }
  i {
    position: static;
  }
  .fa-external-link {
    color: #006968;
  }
  a.link {
    color: #006968;
    cursor: pointer;
    text-decoration: underline;
  }

  .block-with-text {
    @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);  
  }

  .desc {
    min-height: 6em;
  }
}

.plugin-box {
  border-left: 1px solid #e8e8e8;
  padding: 20px;
  margin-bottom: 20px;
}
.plugin-box:hover {
  background-color: #e8e8e8;
}
.row {
  margin-bottom: 5px;
}
.col-sm-3 {
  margin-bottom: 5px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 5px;
  padding-right: 5px;
}
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.platform-icon {
  float: left;
  color: #b1b8bc;
}
.platform-icon-line {
  float: right;
}
.icon-space {
  margin-left: 5px;
  margin-right: 5px;
}
.fa-star-o {
  color: #3d5afe;
}
.repo-box {
  border-left: 1px solid #e8e8e8;
  height: 3em;
  padding-top: 0.7em;
  padding-left: 10px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.fixed-height {
  height: 6em;
}
.bg {
  font-size: 24px;
}
.searching {
  position: absolute;
  background-color: #042733;
  left: 78px;
  top: 34px;
  margin: 0;
  padding: 0;
  line-height: 12px;
  font-style: italic;
  font-size: 12px;
}
.search-container {
  background-color: #042733;
  width: 100%;
  padding: 0 20px;
  position: fixed;
  margin-top: 48px;
  z-index: 4;
}
.dropdown-item {
  display: block;
  width: 100%;
  text-align: left;
  color: #042733;
  background-color: #fff;
  &.active {
    background-color: #adf9ed;
  }
}
.pre-card {
  position: fixed;
  z-index: 3;
  margin-top: 97px;
  width: 100vw;
  background-color: white;
  border-bottom: 2px solid #e8e8e8;
  margin-left: -20px;
  padding-left: 20px;
  height: 50px;
  padding-top: 16px;
  i {
    color: #3d5afe;
  }
  .fa-sliders {
    float: right;
    margin-right: 20px;
    margin-top: -30px;
  }
}
.plugin-disp {
  padding-top: 150px;
}
.icon {
  float: left;
  padding-right: 20px;
}
.viewing {
  margin-top:-2px;
}
.highlight {
  border-left: #00caab;
  border-left-style: solid;
  margin-left: -8px;
  padding-left: 10px;
  cursor: pointer;
}
.contain {
  padding-left: 20px;
  padding-right: 20px;
}
.stars {
  float: right;
  margin-left: 5px;
}
.lineDesc {
  float: left;
}
.starsLine {
  float: right;
  text-align: right;
}
.listView {
  width: calc(100% - 40px);
  margin-left: 20px;
  padding-top: 150px;

  .fa-external-link {
    position: static;
    margin-left: -10px;
  }
  .col-xs-7 {
    margin-top: -10px;
  }
  .row {
    border-bottom: 1px solid #e8e8e8;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .row:hover {
    background-color: #e8e8e8;
  }
  .highlight {
    margin-left: -2px;
  }
  p {
    margin-bottom: 3px;
  }
  a, .col-xs-7 i {
    color: #006968;
  }
}

/* platform specific */
.desktop lang-switcher {
  display: none;
}

.title-section {
  height: 4em;
}
.sidebar {
  position: fixed;
  margin-top: 102px;
  z-index: 10;
  height: calc(100vh - 97px);
  background-color: white;
  width: 20%;
  margin-left: 80%;
  padding: 20px;
  border-left: #e8e8e8 solid 2px;
  h2 {
    margin-left: -26px;
    padding-left: 23px;
  }
}
.hide {
  visibility: hidden;
}
.hasSideBar {
  padding-right: 20%
}
.form-control {
  width: 22%
}

.form-check-input {
  vertical-align: middle;
  height: 30px;
  width: 30px;
}
.sidebar {
  h3 {
    margin-top: -6px;
  }
  .lastEl {
    margin-bottom: 3px;
  }
}

.pre-card h4 {
  padding-top: 2px;
}
pre {
  margin: 5px 5px 20px !important;
}